sudo: required

services:
  - docker

env:
    global:
        - DOCKER_VERSION=17.03.1~ce-0~ubuntu-trusty
        - DOCKER_COMPOSE_VERSION=1.11.2

before_install:
  # list docker-engine versions
  - apt-cache madison docker-engine
  # upgrade docker-engine to specific version
  - sudo apt-get -o Dpkg::Options::="--force-confnew" install --yes --force-yes docker-engine=${DOCKER_VERSION}
  #Install docker compose version
  - sudo rm -f /usr/local/bin/docker-compose
  - curl -L https://github.com/docker/compose/releases/download/${DOCKER_COMPOSE_VERSION}/docker-compose-`uname -s`-`uname -m` > docker-compose
  - chmod +x docker-compose
  - sudo mv docker-compose /usr/local/bin
  - cd docker

script:
  - docker-compose build
  - docker version
  - docker-compose version
